<html>
  <head>
    <meta charset="UTF-8" />
    <title>Introdução ao VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="convidado.sexo == 'M'">Bem-vindo, {{convidado.nome}}</div>
      <div v-else>Bem-vinda, {{convidado.nome}}</div>

      <div>
        <ol>
          <li v-for="(conv, indice) in convidados">
            {{conv.nome}}, {{conv.idade}}, {{conv.sexo}} => {{indice}}
          </li>
        </ol>
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        convidado: {
          nome: "Jão da Silva",
          idade: 82,
          sexo: "M",
        },
        convidados: [
          {
            nome: "Jão da Silva",
            idade: 82,
            sexo: "M",
          },
          {
            nome: "Maria da Silva",
            idade: 25,
            sexo: "F",
          },
          {
            nome: "Zé da Silva",
            idade: 8,
            sexo: "M",
          },
          {
            nome: "Fernando da Silva",
            idade: 38,
            sexo: "M",
          },
        ],
      },
    });
  </script>
</html>
